In [1]:
import pandas as pd
import numpy as np

In [2]:
data = "purchase_data.json"

In [3]:
heroes_df = pd.read_json(data)

In [31]:
heroes_df.head()

,Age,Gender,Item ID,Item Name,Price,SN,age_bin
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34,35 - 39
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46,20 - 24
2,34,Male,174,Primitive Blade,2.46,Assastnya25,30 - 34
3,21,Male,92,Final Critic,1.36,Pheusrical25,20 - 24
4,23,Male,63,Stormfury Mace,1.27,Aela59,20 - 24

In [5]:
# Total amount of Players = 573
player_count = len(heroes_df['SN'].unique())
player_count

573

In [6]:
#TOTAL UNIQUE ITEMS
#creates a df but only keeping last occurance of Item ID
no_dup_items = heroes_df.drop_duplicates(['Item ID'], keep = 'last')
#counts items by unique ID
total_unique = len(no_dup_items)
total_unique

183

In [7]:
# Average Purchase Price
average = heroes_df["Price"].mean()
average

2.931192307692303

In [8]:
# Total Number of Purchases
heroes_df["Price"].size

780

In [9]:
# Total Revenue
totalvalue = heroes_df["Price"].sum()

In [16]:
# Total Players by Gender
no_dup_players = heroes_df.drop_duplicates(['SN'], keep ='last')
gender_counts = no_dup_players['Gender'].value_counts().reset_index()
# Total Players by Gender (percentage)

gender_counts['% of Players'] = gender_counts['Gender']/player_count * 100
gender_counts.rename(columns = {'index': 'Gender', 'Gender': '# of Players'}, inplace = True)


gender_counts

                  Gender  # of Players  % of Players
0                   Male           465     81.151832
1                 Female           100     17.452007
2  Other / Non-Disclosed             8      1.396161

In [29]:
pur_count_by_gen = pd.DataFrame(heroes_df.groupby('Gender')['Gender'].count())
# sums price by gender
total_pur_by_gen = pd.DataFrame(heroes_df.groupby('Gender')['Price'].sum())
#merges the two data frames from above
pur_analysis_gen = pd.merge(pur_count_by_gen, total_pur_by_gen, left_index = True, right_index = True)
#renames columns
pur_analysis_gen.rename(columns = {'Gender': '# of Purchases', 'Price':'Total Purchase Value'}, inplace=True)
#adds column for average purchase price by gender by dividing total purcahse value by gender by # of purchases by gender
pur_analysis_gen['Average Purchase Price'] = (heroes_df.groupby('Gender')['Price'].mean())
# calculates and adds normalized total column by dividing total purchase value by unique # of players by genger
pur_analysis_gen['Normalized Totals'] = pur_analysis_gen['Total Purchase Value']/pur_analysis_gen['# of Purchases']
pur_analysis_gen
#deletes columns not needed for table (# of Players was used for normalized totals while % of players came from gender count table)

# #resets index for aesthetics 
# # pur_analysis_gen.set_index('Gender', inplace=True)
# #formats table
pur_analysis_gen.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}', 'Normalized Totals': '${:.2f}'})

In [12]:
# AGE DEMOGRAPHICS
heroes_df.loc[(heroes_df['Age'] < 10), 'age_bin'] = "< 10"
heroes_df.loc[(heroes_df['Age'] >= 10) & (heroes_df['Age'] <= 14), 'age_bin'] = "10 - 14"
heroes_df.loc[(heroes_df['Age'] >= 15) & (heroes_df['Age'] <= 19), 'age_bin'] = "15 - 19"
heroes_df.loc[(heroes_df['Age'] >= 20) & (heroes_df['Age'] <= 24), 'age_bin'] = "20 - 24"
heroes_df.loc[(heroes_df['Age'] >= 25) & (heroes_df['Age'] <= 29), 'age_bin'] = "25 - 29"
heroes_df.loc[(heroes_df['Age'] >= 30) & (heroes_df['Age'] <= 34), 'age_bin'] = "30 - 34"
heroes_df.loc[(heroes_df['Age'] >= 35) & (heroes_df['Age'] <= 39), 'age_bin'] = "35 - 39"
heroes_df.loc[(heroes_df['Age'] >= 40), 'age_bin'] = "> 40"

# Purchase Count
pur_count_age = pd.DataFrame(heroes_df.groupby('age_bin')['SN'].count())
#Average Purchase Price
avg_price_age = pd.DataFrame(heroes_df.groupby('age_bin')['Price'].mean())
#Total Purchase Value
tot_pur_age = pd.DataFrame(heroes_df.groupby('age_bin')['Price'].sum())
#deletes multiple occurances of SN while only keeping last, then counts # of unique
#players by age bin
no_dup_age = pd.DataFrame(heroes_df.drop_duplicates('SN', keep = 'last').groupby('age_bin')['SN'].count())
#merges all info from above into one df
merge_age = pd.merge(pur_count_age, avg_price_age, left_index = True, right_index = True).merge(tot_pur_age, left_index = True, right_index = True).merge(no_dup_age, left_index = True, right_index = True)
#renames columns
merge_age.rename(columns = {"SN_x": "# of Purchases", "Price_x": "Average Purchase Price", "Price_y": "Total Purchase Value", "SN_y": "# of Purchasers"}, inplace = True)
#Normalized Totals
merge_age['Normalized Totals'] = merge_age['Total Purchase Value']/merge_age['# of Purchasers']
#rest index for aesthetics
merge_age.index.rename("Age", inplace = True)
# formats
merge_age.style.format({'Average Purchase Price': '${:.2f}', 'Total Purchase Value': '${:.2f}', 'Normalized Totals': '${:.2f}'})

In [19]:
# TOP SPENDERS

purchase_amt_by_SN = pd.DataFrame(heroes_df.groupby('SN')['Price'].sum())
num_purchase_by_SN = pd.DataFrame(heroes_df.groupby('SN')['Price'].count())
avg_purchase_by_SN = pd.DataFrame(heroes_df.groupby('SN')['Price'].mean())
# merge the above 
merged_top5 = pd.merge(purchase_amt_by_SN, num_purchase_by_SN, left_index = True, right_index = True).merge(avg_purchase_by_SN, left_index=True, right_index=True)
# rename columns
merged_top5.rename(columns = {'Price_x': 'Total Purchase Value', 'Price_y':'Purchase Count', 'Price':'Average Purchase Price'}, inplace = True)
# sort from highest purchase value to lowest
merged_top5.sort_values('Total Purchase Value', ascending = False, inplace=True)
# take top 5 only
merged_top5 = merged_top5.head()
# format
merged_top5.style.format({'Total Purchase Value': '${:.2f}', 'Average Purchase Price': '${:.2f}'})

In [36]:
# Most Popular Items
# gets a count of each item by grouping by Item ID and counting the number of each IDs occurances
top5_items_ID = pd.DataFrame(heroes_df.groupby('Item ID')['Item ID'].count())
#sort from high to low total purchase count
top5_items_ID.sort_values('Item ID', ascending = False, inplace = True)
#keep the first 5 rows because there is a tie
top5_items_ID = top5_items_ID.iloc[0:5][:]
#find the total purchase value of each item
top5_items_total = pd.DataFrame(heroes_df.groupby('Item ID')['Price'].sum())
#merge purcahse count and total purcahse value 
top5_items = pd.merge(top5_items_ID, top5_items_total, left_index = True, right_index = True)
#drop duplicate items from original Df
no_dup_items = heroes_df.drop_duplicates(['Item ID'], keep = 'last')
# merge to get all other info from the top 6 using the no dup df
top5_merge_ID = pd.merge(top5_items, no_dup_items, left_index = True, right_on = 'Item ID')
#keep only neede columns
top5_merge_ID = top5_merge_ID[['Item ID', 'Item Name', 'Item ID_x', 'Price_y', 'Price_x']]
#reset index as item ID for aesthetics
top5_merge_ID.set_index(['Item ID'], inplace = True)
# rename columns
top5_merge_ID.rename(columns =  {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace=True)
#format
top5_merge_ID.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:5: FutureWarning: 'Item ID' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  """

In [24]:
# Most Profitable Items
top5_profit = pd.DataFrame(heroes_df.groupby('Item ID')['Price'].sum())
top5_profit.sort_values('Price', ascending = False, inplace = True)
# only keep top 5
top5_profit = top5_profit.iloc[0:5][:]
#get item purchase count
pur_count_profit = pd.DataFrame(heroes_df.groupby('Item ID')['Item ID'].count())

top5_profit = pd.merge(top5_profit, pur_count_profit, left_index = True, right_index = True, how = 'left')
top5_merge_profit = pd.merge(top5_profit, no_dup_items, left_index = True, right_on = 'Item ID', how = 'left')
top5_merge_profit = top5_merge_profit[['Item ID', 'Item Name', 'Item ID_x', 'Price_y','Price_x']]
top5_merge_profit.set_index(['Item ID'], inplace=True)
top5_merge_profit.rename(columns = {'Item ID_x': 'Purchase Count', 'Price_y': 'Item Price', 'Price_x': 'Total Purchase Value'}, inplace = True)
top5_merge_profit.style.format({'Item Price': '${:.2f}', 'Total Purchase Value': '${:.2f}'})